$surface-strongest: #181821;
$surface-strong: #181821;
$surface-moderate: #1E1E29;
$surface-weak: #1a1b26;
$surface-weakest: #20202A;

$white-strongest: rgb(255, 255, 255);
$white-strong: rgba(255, 255, 255, 0.87);
$white-moderate: rgba(255, 255, 255, 0.34);
$white-weak: rgba(255, 255, 255, 0.14);
$white-weakest: rgba(255, 255, 255, 0.06);

$black-strongest: rgb(0, 0, 0);
$black-strong: rgba(0, 0, 0, 0.87);
$black-moderate: rgba(0, 0, 0, 0.42);
$black-weak: rgba(0, 0, 0, 0.15);
$black-weakest: rgba(0, 0, 0, 0.06);

$red-normal: #f7768e;
$red-light:#e36d6d;
$orange-normal: #ff9e64;
$orange-light: #965027;
$yellow-normal: #e0af68;
$yellow-light: #8f5e15;
$green-normal: #73daca;
$green-light: #33635c;
$cyan-normal: #7dcfff;
$cyan-light: #0f4b6e;
$blue-normal: #7aa2f7;
$blue-light: #34548a;
$purple-normal: #bb9af7;
$purple-light: #5a4a78;
$pink-normal: rgb(213, 108, 195);
$pink-light: rgb(223, 129, 207);

$accent-primary: $blue-normal;
$accent-secondary: $green-normal;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};